/**** Imports *** */
h1, h2, h3, h4, h5, h6, p, button {
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.7rem; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

/* Variables */
/************** Brand Colors ************** */
.main-cta-bg-home {
  background: url("../images/main-banner-img.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-bg-about {
  background: url("../images/about-us-banner.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-join-the-chorus {
  background: url("../images/join-the-chorus-banner.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-bg-book-us {
  background: url("../images/performing-1.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.logo {
  float: left;
  margin: 5px; }

.social-media-icons {
  float: right;
  margin-top: 4rem; }
  .social-media-icons ul {
    list-style: none; }
    .social-media-icons ul li {
      display: inline-block;
      padding-left: 1rem; }

.main-cta {
  padding: 10% 0 0 0; }
  .main-cta h1 {
    color: #fff;
    line-height: 3rem; }
  .main-cta h2 {
    color: #fff;
    line-height: 3rem; }

.main-cta-btn {
  background: #a99c67;
  border-radius: 0.5rem;
  font-style: italic;
  width: 200px;
  margin-top: 5%;
  font-size: 1.2rem; }
  .main-cta-btn:hover {
    background: #242133; }

.contain-to-grid {
  background: #242133; }

.top-bar {
  background: #242133;
  border-bottom: 2px #a99c67 solid; }

.event-cta {
  margin-top: -10%; }
  .event-cta h1 {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    background: #242133;
    margin: 0;
    padding: 0.5rem 0; }
  .event-cta img {
    width: 100%; }

.event-unit {
  position: relative; }

.secondary-cta-btn {
  position: absolute;
  top: 50%;
  left: 34%;
  width: 150px;
  height: 50px;
  border-radius: 0.5rem;
  background: #a99c67; }
  .secondary-cta-btn:hover {
    background: #242133; }

.info-section {
  margin: 5% 0; }
  .info-section h3 {
    color: #a99c67; }
  .info-section h5 {
    margin-bottom: 2rem; }

.book-us-cta {
  background: url("../images/full-width-module-1.jpg");
  width: 100%;
  height: 75%; }

.book-us-cta {
  padding-top: 15%; }
  .book-us-cta h1 {
    color: #fff;
    line-height: 3rem; }


.book-us-1 {
  width: 33.3333%;
  float: left;
  height: 300px;
  overflow: hidden;
  transition: 0.3s all ease-in;
}

.book-us-1:hover {
  opacity: 0.8;
  transition: 0.3s all ease-in;
  cursor: pointer;
}

.create-buzz {
  padding: 5rem 0;
}

.create-buzz h1 {
  color: #a99c67;
  line-height: 3rem;
  font-size: 2.3rem;
}

.create-buzz h5 {
  font-size: 1.5rem;
  color: #5d5d5d;
}

.about-us-info-left {
  width: 100%; }
  .about-us-info-left h1 {
    color: #a99c67;
    font-size: 1.8rem; }
  .about-us-info-left h5 {
    color: #5d5d5d;
    font-size: 1.2rem;
    font-weight: 600; }
  .about-us-info-left img {
    float: left; }
  .about-us-info-left .image-left {
    width: 50%;
    height: 50%;
    float: left; }
  .about-us-info-left .content-right {
    width: 50%;
    height: 100%;
    float: right;
    position: relative; }
  .about-us-info-left .content {
    position: absolute;
    width: 60%;
    top: 50%;
    padding-top: 15%;
    left: 50%;
    left: 20%; }
    .about-us-info-left .content p {
      margin-top: 2rem; }

.about-us-info-right {
  width: 100%; }
  .about-us-info-right h1 {
    color: #a99c67;
    font-size: 1.8rem;
    line-height: 2rem; }
  .about-us-info-right h5 {
    color: #5d5d5d;
    font-size: 1.2rem;
    font-weight: 600; }
  .about-us-info-right img {
    float: left; }
  .about-us-info-right .image-right {
    width: 50%;
    float: right; }
  .about-us-info-right .content-left {
    width: 50%;
    height: 100%;
    float: right;
    position: relative; }
  .about-us-info-right .content {
    position: absolute;
    width: 60%;
    top: 50%;
    padding-top: 15%;
    left: 20%; }
    .about-us-info-right .content p {
      margin-top: 2rem; }

.about-us-cta {
  background: url("../images/footer-bg.png");
  width: 100%;
  height: 400px; }
  .about-us-cta h1 {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 15%; }
  .about-us-cta .red-cta {
    background: #a9171c;
    border-radius: 1rem;
    font-size: 1rem;
    color: #fff;
    padding: 0.7rem 2rem;
    margin-top: 2rem; }

.blue-bg {
  background: #242133; }
  .blue-bg h1 {
    color: #fff;
    font-size: 1.8rem;
    padding: 5% 0; }

.quote {
  color: #fff;
  font-style: italic;
  font-weight: 200; }

.quote-person {
  color: #fff;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 10%; }

.contact-home {
  background: url("../images/contact-form-background.jpg");
  background-size: cover;
  width: 100%;
  height: 1100px; }
  .contact-home h1 {
    color: #fff;
    line-height: 3rem;
    margin-top: 20%; }
  .contact-home h2 {
    color: #fff;
    line-height: 3rem; }

form {
  padding-top: 5rem; }

label {
  color: #fff; }

input, textarea {
  opacity: 0.9; }

textarea {
  height: 300px; }

form input[type="submit"] {
  width: 100%;
  background: #a99c67;
  border: none;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  font-family: "Crimson Text", serif;
  opacity: 1;
  transition: all 0.3s ease-in; }
  form input[type="submit"]:hover {
    background: #242133;
    transition: 0.3s all ease-in; }

.footer-1 {
  background: url("../images/footer-bg.png");
  padding: 4rem 0 0 0; }

.footer-1 ul {
  list-style: none; }

.footer-1 ul li a {
  color: #fff;
  font-weight: 200;
  font-size: 0.8em;
  opacity: 0.2;
  transition: all 0.2s ease-in; }
  .footer-1 ul li a:hover {
    opacity: 0.6;
    transition: all 0.2s ease-in; }

.footer-1 h4 {
  color: #a99c67; }

.footer-2 {
  background: #1f2431;
  margin-top: 4rem;
  padding-top: 1.2rem; }

.social-media-icons-footer ul {
  list-style: none; }
  .social-media-icons-footer ul li {
    display: inline-block;
    padding-right: 1rem; }

.copyright {
  color: #fff;
  opacity: 0.2; }
  .copyright p {
    font-size: 0.8em; }
