/**** Imports *** */
h1, h2, h3, h4, h5, h6, p, button {
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.7rem; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

.full-width-gray {
  background: #eee;
  width: 100%;
  height: 200px; }

.row .full {
  width: 100%; }

/* Variables */
/************** Brand Colors ************** */
.main-cta-bg-home {
  background: url("../images/main-banner-img.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-bg-about {
  background: url("../images/about-us-banner.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-join-the-chorus {
  background: url("../images/join-the-chorus-banner.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-bg-book-us {
  background: url("../images/performing-1.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-bg-weddings {
  background: url("../images/wedding-banner.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-bg-film {
  background: url("../images/film-2.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.main-cta-bg-private-parties {
  background: url("../images/film-2.jpg");
  width: 100%;
  background-size: cover;
  height: 100vh; }

.logo {
  float: left;
  margin: 5px; }

.social-media-icons {
  float: right;
  margin-top: 4rem; }
  .social-media-icons ul {
    list-style: none; }
    .social-media-icons ul li {
      display: inline-block;
      padding-left: 1rem; }
  .social-media-icons img {
    opacity: 0.5;
    transition: 0.2s all ease-in; }
    .social-media-icons img:hover {
      opacity: 1;
      transition: 0.2s all ease-in; }

.main-cta {
  padding: 5% 0 0 0; }
  .main-cta h1 {
    color: #fff;
    line-height: 3rem; }
  .main-cta h2 {
    color: #fff;
    line-height: 3rem; }

.main-cta-btn {
  background: #a99c67;
  border-radius: 0.5rem;
  font-style: italic;
  width: 200px;
  margin-top: 5%;
  font-size: 1.2rem; }
  .main-cta-btn:hover {
    background: #242133; }

.event-cta {
  margin-top: -10%; }
  .event-cta h1 {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    background: #242133;
    margin: 0;
    padding: 0.5rem 0; }
  .event-cta img {
    width: 100%; }

.event-unit {
  position: relative; }

.secondary-cta-btn {
  position: absolute;
  top: 50%;
  left: 34%;
  width: 150px;
  height: 50px;
  border-radius: 0.5rem;
  background: #a99c67; }
  .secondary-cta-btn:hover {
    background: #242133; }

.top-bar {
  background: #242133; }

.contain-to-grid {
  background: #242133;
  border-bottom: 2px solid #a99c67; }

.top-bar.expanded .title-area {
  background: #242133; }

.top-bar-section ul li {
  background: #242133; }

.top-bar-section ul li a:hover {
  background: #a99c67; }

@media only screen and (min-width: 40.0625em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #242133;
    line-height: 2.8125rem;
    padding: 0 0.9375rem; }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #a99c67;
    transition: 0.1s all ease-in; }

  .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: #242133; }

  .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
    background: #a99c67; }

  .top-bar-section ul li {
    background: #242133; } }
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #a99c67; }
  .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #a9171c; }

@media (max-width: 600px) {
  .social-media-icons {
    display: none; }

  .main-cta h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0; }

  .main-cta h2 {
    font-size: 1.1rem;
    line-height: 1.2rem; }

  .main-cta-btn {
    width: 180px;
    margin-top: 2rem; }

  .secondary-cta-btn {
    left: 23%; } }
.info-section {
  margin: 5% 0; }
  .info-section h3 {
    color: #a99c67; }
  .info-section h5 {
    margin-bottom: 2rem; }

.book-us-cta {
  background: url("../images/full-width-module-1.jpg");
  width: 100%;
  height: 75%; }

.book-us-cta {
  padding-top: 15%; }
  .book-us-cta h1 {
    color: #fff;
    line-height: 3rem; }

.home-widget-left {
  background: url("../images/alumni-corner.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s all ease-in; }

.home-widget-left:hover, .home-widget-right:hover {
  opacity: 0.8;
  transition: 0.4s all ease-in;
  cursor: pointer; }

.home-widget-right {
  background: url("../images/concert-2.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s all ease-in; }

.home-widget-right h1, .home-widget-left h1 {
  color: #fff;
  margin: 0 auto; }

.content {
  margin-left: 7%;
  margin-top: 5%; }
  .content h1 {
    color: #a99c67;
    font-size: 2rem; }
  .content h5 {
    padding-bottom: 1.5rem; }

.about-us-cta {
  background: url("../images/footer-bg.png");
  width: 100%;
  height: 400px; }
  .about-us-cta h1 {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 15%; }
  .about-us-cta .red-cta {
    background: #a9171c;
    border-radius: 1rem;
    font-size: 1rem;
    color: #fff;
    padding: 0.7rem 2rem;
    margin-top: 2rem; }

@media (max-width: 1430px) {
  .about-us-info-right .content {
    position: absolute;
    width: 60%;
    top: 50%;
    padding-top: 3rem; }

  .about-us-info-left .content {
    position: absolute;
    width: 60%;
    top: 50%;
    padding-top: 3rem; } }
@media (max-width: 1230px) {
  .about-us-info-right .content {
    position: absolute;
    width: 60%;
    top: 50%;
    padding-top: 1rem; }
    .about-us-info-right .content p {
      margin-top: 1rem; }

  .about-us-info-left .content {
    position: absolute;
    width: 60%;
    top: 50%;
    padding-top: 1rem; }
    .about-us-info-left .content p {
      margin-top: 1rem; } }
@media (max-width: 1200px) {
  .about-us-info-left .image-left {
    width: 100%;
    clear: both;
    display: inline-block; }

  .about-us-info-left .content-right {
    width: 100%;
    clear: both;
    height: 400px;
    display: inline-block; }

  .about-us-info-left .content {
    position: relative;
    width: 90%;
    top: 20%;
    left: 5%;
    padding-top: 0;
    text-align: center; }

  .about-us-info-right .content {
    position: relative;
    width: 90%;
    top: 20%;
    left: 5%;
    padding-top: 0;
    text-align: center; }

  .about-us-info-right .image-right {
    width: 100%;
    clear: both;
    display: inline-block; }

  .about-us-info-right .content-left {
    width: 100%;
    clear: both;
    height: 400px;
    display: inline-block; } }
@media (max-width: 635px) {
  .content {
    margin-left: 0%;
    margin-top: 5%; } }
.blue-bg {
  background: url("../images/footer-bg.png");
  background-size: cover;
  width: 100%; }
  .blue-bg h1 {
    color: #a99c67;
    font-size: 1.8rem;
    padding: 5% 0; }
  .blue-bg h5 {
    color: #fff;
    padding-bottom: 5%; }
  .blue-bg ul {
    list-style: none; }
    .blue-bg ul li {
      color: #fff;
      opacity: 0.5;
      font-family: "Crimson Text", serif; }

.quote {
  color: #fff;
  font-style: italic;
  font-weight: 200; }

.quote-person {
  color: #fff;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 10%; }

/* Book Us */
.create-buzz {
  padding: 5rem 0; }
  .create-buzz h1 {
    color: #a99c67;
    font-size: 2rem; }

.book-us-options .book-us-option-btn {
  position: absolute;
  top: 50%;
  left: 34%;
  width: 170px;
  height: 50px;
  border-radius: 0.5rem;
  background: #a99c67; }
  .book-us-options .book-us-option-btn:hover {
    background: #242133; }

.book-us-option-wedding {
  background: url("../images/weddings.jpg");
  background-size: cover;
  height: 400px;
  float: left;
  width: 33.333%;
  position: relative;
  display: flex;
  align-items: center; }

.book-us-option-film {
  background: url("../images/film.jpg");
  background-size: cover;
  height: 400px;
  float: left;
  width: 33.333%;
  position: relative;
  display: flex;
  align-items: center; }

.book-us-option-private-parties {
  background: url("../images/private_parties.jpg");
  background-size: cover;
  height: 400px;
  float: left;
  width: 33.333%;
  position: relative;
  display: flex;
  align-items: center; }

.book-us-option-holiday-events {
  background: url("../images/holiday_events.jpg");
  background-size: cover;
  height: 400px;
  float: left;
  width: 33.333%;
  position: relative;
  display: flex;
  align-items: center; }

.book-us-option-recording {
  background: url("../images/recording-1.jpg");
  background-size: cover;
  height: 400px;
  float: left;
  width: 33.333%;
  position: relative;
  display: flex;
  align-items: center; }

.book-us-option-presenters {
  background: url("../images/presenters.jpg");
  background-size: cover;
  height: 400px;
  float: left;
  width: 33.333%;
  position: relative;
  display: flex;
  align-items: center; }

@media (max-width: 1225px) {
  .book-us-option-presenters,
  .book-us-option-recording,
  .book-us-option-holiday-events,
  .book-us-option-private-parties,
  .book-us-option-film,
  .book-us-option-wedding {
    width: 50%; } }
@media (max-width: 750px) {
  .book-us-option-presenters,
  .book-us-option-recording,
  .book-us-option-holiday-events,
  .book-us-option-private-parties,
  .book-us-option-film,
  .book-us-option-wedding {
    width: 100%;
    float: none;
    height: 250px; } }
@media (max-width: 750px) {
  .book-us-option-btn {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 170px;
    height: 50px;
    border-radius: 0.5rem;
    background: #a99c67; } }
/* Parent Portal Styles */
.main-title {
  padding: 5rem 0; }
  .main-title h1 {
    color: #a9171c; }

.sidebar-left {
  border-right: 1px solid #ddd; }
  .sidebar-left h3 {
    color: #a99c67;
    font-size: 1.3rem; }
  .sidebar-left ul {
    list-style: none;
    margin-left: 0; }
  .sidebar-left li {
    line-height: 1rem;
    padding-bottom: 1rem; }
  .sidebar-left li a {
    color: #777;
    font-size: 0.76rem; }
    .sidebar-left li a:hover {
      color: #2c3f7e;
      transition: 0.2s all ease-in;
      text-decoration: underline; }

.general-content-right {
  padding-left: 3% !important; }
  .general-content-right h1 {
    color: #a99c67;
    font-size: 2rem;
    line-height: 2.2rem; }
  .general-content-right p {
    color: #777;
    line-height: 1.5rem; }
  .general-content-right img {
    margin-bottom: 1rem; }
  .general-content-right hr {
    padding: 2rem 0; }

.blog-post-details {
  color: #aaa;
  font-size: 0.7rem;
  padding-bottom: 2rem; }

.post-btn {
  background: #a9171c;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem; }
  .post-btn:hover {
    background: #242133; }

/* Films Page Styles */
.film-logos {
  padding-top: 4rem; }
  .film-logos .film-logo {
    vertical-align: middle;
    display: inline-block; }

/* Weddings Styles */
.wedding-repertoire span {
  padding-top: -2rem !important;
  color: #fff;
  font-size: 1rem;
  font-family: "Crimson Text", serif;
  font-style: italic;
  opacity: 0.4; }
.wedding-repertoire ul {
  padding-bottom: 10%; }

/* Alumni Corner */
.feautred-alumni {
  padding: 2rem 0 !important;
  display: inline-block;
  vertical-align: middle; }

.alumni-unit {
  opacity: 0.5;
  transition: 0.2s all ease-in; }
  .alumni-unit:hover {
    transform: 0.2s all ease-in;
    opacity: 1;
    cursor: pointer; }

.alumni-thumbnail img {
  border-radius: 50%;
  float: left;
  padding-right: 20px; }

.alumni-name {
  color: #fff;
  font-family: "Crimson Text";
  font-style: italic;
  opacity: 0.8;
  padding-top: 45px; }

.alumni-part {
  color: #fff;
  font-family: "Crimson Text";
  font-style: italic;
  opacity: 0.5;
  margin-top: -5px; }

.contact-home {
  background: url("../images/contact-form-background.jpg");
  background-size: cover;
  width: 100%;
  height: 1100px; }
  .contact-home h1 {
    color: #fff;
    line-height: 3rem;
    margin-top: 20%; }
  .contact-home h2 {
    color: #fff;
    line-height: 3rem; }

form {
  padding-top: 5rem; }

label {
  color: #fff; }

input, textarea {
  opacity: 0.9; }

textarea {
  height: 300px; }

form input[type="submit"] {
  width: 100%;
  background: #a99c67;
  border: none;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  font-family: "Crimson Text", serif;
  opacity: 1;
  transition: all 0.3s ease-in; }
  form input[type="submit"]:hover {
    background: #242133;
    transition: 0.3s all ease-in; }

.footer-1 {
  background: url("../images/footer-bg.png");
  padding: 4rem 0 0 0; }

.footer-1 ul {
  list-style: none; }

.footer-1 ul li a {
  color: #fff;
  font-weight: 200;
  font-size: 0.8em;
  opacity: 0.2;
  transition: all 0.2s ease-in; }
  .footer-1 ul li a:hover {
    opacity: 0.6;
    transition: all 0.2s ease-in; }

.footer-1 h4 {
  color: #a99c67; }

.footer-2 {
  background: #1f2431;
  margin-top: 4rem;
  padding-top: 1.2rem; }

.social-media-icons-footer ul {
  list-style: none; }
  .social-media-icons-footer ul li {
    display: inline-block;
    padding-right: 1rem; }

.copyright {
  color: #fff;
  opacity: 0.2; }
  .copyright p {
    font-size: 0.8em; }
