.contact-home
	background: url('../images/contact-form-background.jpg')
	background-size: cover
	width: 100%
	height: 1000px


	h1
		color: #fff
		line-height: 3rem
		margin-top: 20%

	h2
		color: #fff
		line-height: 3rem

.footer-1 
	background: $brand-dark-blue
	padding: 4rem 0

.footer-1 ul
	list-style: none

.footer-1 ul li a 
	color: #fff
	font-weight: 200
	font-size: .8em
	opacity: 0.2
	transition: all 0.2s ease-in

	&:hover
		opacity: 0.6
		transition: all 0.2s ease-in

.footer-1 h4
	color: $brand-gold

.social-media-icons-footer

	ul
		list-style: none
		
		li
			display: inline-block
			padding-right: 1rem

.copyright
	color: #fff
	opacity: 0.2

	p
		font-size: .8em

