.top-header-element
	img
		width: 100%
		height: 10%

.logo 
	float: left
	margin: 5px

.social-media-icons
	float: right
	margin-top: 4rem
	ul
		list-style: none
		
		li
			display: inline-block
			padding-left: 1rem


/* NAVIGATION STYLES */

.nav-toggle 
	display: none

.main-nav 
	margin-bottom: 0px
	background: #222834
	opacity: 0.9
	position: absolute
	z-index: 999
	width: 100%
	border-bottom: 5px solid #a99c67
	overflow: visible

	ul
		list-style: none

		li
			display: inline-block
			padding-right: 4rem

			a
				color: #fff
				text-decoration: none


