.main-cta-bg-home
	background: url('../images/main-banner-img.jpg')
	width: 100%
	background-size: cover
	height: 100vh

.main-cta-bg-about
	background: url('../images/about-us-banner.jpg')
	width: 100%
	background-size: cover
	height: 100vh

.main-cta-join-the-chorus
	background: url('../images/join-the-chorus-banner.jpg')
	width: 100%
	background-size: cover
	height: 100vh

.main-cta-bg-book-us
	background: url('../images/performing-1.jpg')
	width: 100%
	background-size: cover
	height: 100vh

.logo 
	float: left
	margin: 5px

.social-media-icons
	float: right
	margin-top: 4rem
	ul
		list-style: none
		
		li
			display: inline-block
			padding-left: 1rem

.main-cta
	padding: 10% 0 0 0
	
	h1
		color: #fff
		line-height: 3rem

	h2
		color: #fff
		line-height: 3rem

.main-cta-btn
	background: $brand-gold
	border-radius: .5rem
	font-style: italic
	width: 200px
	margin-top: 5%
	font-size: 1.2rem

	&:hover
		background: $brand-dark-blue

.event-cta
	margin-top: -10%

	h1
		color: #fff
		font-size: 1.4rem
		text-align: center
		background: $brand-dark-blue
		margin: 0
		padding: .5rem 0

	img
		width: 100%

.event-unit
	position: relative

.secondary-cta-btn
	position: absolute
	top: 50%
	left: 34%
	width: 150px
	height: 50px
	border-radius: .5rem
	background: $brand-gold

	&:hover
		background: $brand-dark-blue


.top-bar
	background: $brand-dark-blue

.contain-to-grid
	background: $brand-dark-blue
	border-bottom: 2px solid $brand-gold	

.top-bar.expanded .title-area
	background: $brand-dark-blue

.top-bar-section ul li
	background: $brand-dark-blue

.top-bar-section ul li a:hover
	background: $brand-gold

@media only screen and (min-width: 40.0625em)
	.top-bar-section li:not(.has-form) a:not(.button)
		background: #242133
		line-height: 2.8125rem
		padding: 0 0.9375rem

	.top-bar-section li:not(.has-form) a:not(.button):hover
		background: $brand-gold
		transition: 0.1s all ease-in

	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button)
		background: $brand-dark-blue

	.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover
		background: $brand-gold

	.top-bar-section ul li 
		background: $brand-dark-blue

.top-bar-section li.active:not(.has-form) a:not(.button)
	background: $brand-gold

	&:hover
		background: $brand-red



