.info-section
	margin: 5% 0

	h3
		color: $brand-gold

	h5
		margin-bottom: 2rem

.book-us-cta
	background: url('../images/full-width-module-1.jpg')
	width: 100%
	height: 75%

.book-us-cta
	padding-top: 15%
	
	h1
		color: #fff
		line-height: 3rem

.home-widget-left
	background: url('../images/film.jpg')
	background-size: cover
	height: 400px
	float: left
	width: 50%
	position: relative
	display: flex
	align-items: center

.home-widget-left:hover, .home-widget-right:hover
	opacity: 0.8
	transition: 0.4s all ease-in

.home-widget-right
	background: url('../images/concert-2.jpg')
	background-size: cover
	height: 400px
	width: 50%
	float: right
	position: relative
	display: flex
	align-items: center

.home-widget-right, .home-widget-left
	
	h1
		color: #fff
		margin: 0 auto

