.blue-bg
	background: $brand-dark-blue

	h1
		color: #fff
		font-size: 1.8rem
		padding: 5% 0

.quote
	color: #fff
	font-style: italic
	font-weight: 200

.quote-person
	color: #fff
	font-style: italic
	font-weight: 500
	padding-bottom: 10%


